@charset "UTF-8";
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

a {
  list-style-type: none;
  text-decoration: none;
}

li {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

:root {
  --primary-background-color: #FFFFFF;
  --secondary-background-color: #F5F4FA;
  --third-background-color: #2F303A;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --third-text-color: #ffffff;
  --accent-color: #2196F3;
  --fours-text-color: rgba(255, 255, 255, 0.6);
  --border-botoom-color: #ECECEC;
  --border-btm-scnd-clr: #EEEEEE;
  --icon-primary-fill: #AFB1B8;
  --icon-background-color: rgba(255, 255, 255, 0.1);
  --background-color-portfolio: rgba(33, 150, 243, 0.9);
  --background-color-studio: rgba(47, 48, 58, 0.8);
  --modal-background-color: rgba(0, 0, 0, 0.2);
  --modal-backgroud-color-wind: #ffffff;
  --border-btn-close: rgba(0, 0, 0, 0.1);
  --border-footer-color: rgba(255, 255, 255, 0.3);
  --modal-border-color: rgba(33, 33, 33, 0.2);
  --secondary-border-color: #212121;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: "Roboto";
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}
@media (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    min-width: 1200px;
  }
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (min-width: 1200px) {
  section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.list-img {
  text-decoration: none;
}

.header {
  margin-top: 0;
  border-bottom: 1px solid var(--border-botoom-color);
  background-color: var(--primary-background-color);
  font-family: inherit;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-property: color;
  transition-property: color;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__link {
  position: relative;
  display: block;
  color: var(--secondary-text-color);
}
.header__link:hover, .header__link:focus {
  color: var(--accent-color);
}
.header__link.current {
  color: var(--accent-color);
}
.header__link::after {
  display: inline-block;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
  background-color: var(--accent-color);
}
.header__link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.header__link.current::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.header__list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  text-align: start;
  display: none;
}
@media (min-width: 768px) {
  .header__list {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header__list :hover, .header__list :focus {
  color: var(--accent-color);
}
.header__link {
  padding-top: 32px;
  padding-bottom: 32px;
}
.header__mail, .header__tel {
  padding: 0;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.header__item {
  padding: 0;
}
.header__item:last-child {
  margin-right: 0;
}
.header__icon {
  display: inline-block;
  margin-right: 10px;
  fill: var(--primary-text-color);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.header__mail:hover .header__icon, .header__mail:focus .header__icon {
  fill: var(--accent-color);
}
.header__icon {
  display: inline-block;
  margin-right: 10px;
  fill: var(--primary-text-color);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.header__tel:hover .header__icon, .header__tel:focus .header__icon {
  fill: var(--accent-color);
}
.header__link {
  display: block;
}
.header__address {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
}
@media (min-width: 768px) {
  .header__address {
    display: block;
  }
}
.header__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--primary-text-color);
}
@media (min-width: 768px) {
  .header__mail {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.header__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--primary-text-color);
}
@media (min-width: 768px) {
  .header__tel {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1200px) {
  .list-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.mail-header {
  margin-bottom: 10px;
}
@media (min-width: 1200px) {
  .mail-header {
    margin-bottom: 0;
  }
}

.header__item + .header__item {
  margin-left: 50px;
}

.item-header + .item-header {
  margin-left: 0;
}
@media (min-width: 1200px) {
  .item-header + .item-header {
    margin-left: 30px;
  }
}

.header__logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 88px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.header__logo--accent {
  color: #000000;
}

.footer__logo {
  margin-bottom: 20px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  display: inline-block;
}

.footer__logo--accent {
  color: var(--third-text-color);
}

.mobile__menu {
  position: fixed;
  padding: 48px 40px;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}
@media (min-width: 768px) {
  .mobile__menu {
    display: none;
  }
}
@media (min-width: 480px) {
  .mobile__menu {
    font-weight: 500;
    font-size: 24px;
  }
}
.mobile__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  padding: 0;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
  display: block;
  position: relative;
  color: var(--secondary-text-color);
}
.mobile__link:hover, .mobile__link:focus {
  color: var(--accent-color);
}
.mobile__link.current {
  color: var(--accent-color);
}
.mobile__link::after {
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
  background-color: var(--accent-color);
}
.mobile__link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.mobile__link.current::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.mobile__link, .mobile__mail, .mobile__tel {
  padding: 0;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.mobile__list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  text-align: start;
}
@media (min-width: 768px) {
  .mobile__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.mobile__list :hover, .mobile__list :focus {
  color: var(--accent-color);
}
.mobile__item {
  padding: 0;
}
.mobile__item:last-child {
  margin-right: 0;
}
.mobile__item + .mobile__item {
  padding-top: 32px;
}
.mobile__address {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}
@media (min-width: 768px) {
  .mobile__address {
    display: block;
  }
}
.mobile__mail {
  font-weight: 500;
  padding-bottom: 0;
  font-size: 24px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--primary-text-color);
}
@media (min-width: 768px) {
  .mobile__mail {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.mobile__tel {
  margin-top: auto;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--primary-text-color);
}
@media (min-width: 768px) {
  .mobile__tel {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 480px) {
  .mobile__tel {
    font-size: 24px;
  }
}
.mobile__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}
@media (max-width: 480px) {
  .mobile__social {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.mobile__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  padding-right: 10px;
  padding-left: 10px;
}
.mobile__open-menu {
  position: fixed;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
@media (min-width: 768px) {
  .mobile__open-menu {
    display: none;
  }
}
.mobile__close-menu {
  position: fixed;
  top: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media (min-width: 768px) {
  .mobile__close-menu {
    display: none;
  }
}
.mobile__close-menu:hover, .mobile__close-menu:focus {
  fill: var(--accent-color);
}
@media (min-width: 768px) {
  .mobile__close-menu {
    display: none;
  }
}
.mobile__close-icon:hover, .mobile__close-icon:focus {
  fill: var(--accent-color);
}
.mobile__open-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mobile__open-menu:hover .mobile__open-icon {
  opacity: 0;
}

.mobile__social-item + .mobile__social-item {
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}

.hero__section {
  position: relative;
  padding: 0;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-top: 0;
  background-color: var(--third-background-color);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/headerimg-mobile.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/headerimg-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .hero__section {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/headerimg-tablet.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/headerimg-tablet.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero__section {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/headerimg-desktop.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/headerimg-desktop.jpg);
  }
}
.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}
@media (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}
.hero__button {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  font-family: "Roboto";
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
  margin: 0 auto;
  display: block;
  cursor: pointer;
  border: none;
}

.advantage__section {
  font-weight: 400;
  line-height: 24px;
}
@media screen and (min-width: 480px) {
  .advantage__section {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}
@media screen and (min-width: 768px) {
  .advantage__section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .advantage__section {
    padding-top: 94px;
    padding-bottom: 0;
  }
}
.advantage__container {
  padding-left: 0;
  padding-right: 0;
}
.advantage__list {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 480px) {
  .advantage__list {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .advantage__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 1200px) {
  .advantage__list {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.advantage__item {
  margin-top: 0;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .advantage__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 320px) {
  .advantage__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .advantage__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding: 0;
    margin-right: 30px;
    max-width: 354px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .advantage__item:nth-child(3) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .advantage__item:nth-child(4) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .advantage__item:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .advantage__item {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 270px;
    margin-right: 30px;
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .advantage__item:nth-child(2n) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .advantage__item:last-child {
    margin-right: 0;
  }
}
.advantage__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 120px;
  border: 1px solid var(--secondary-background-color);
  border-radius: 4px;
  background-color: var(--secondary-background-color);
  margin-bottom: 30px;
}
.advantage__example {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-text-color);
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .advantage__example {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .advantage__example {
    text-align: start;
  }
}
.advantage__description {
  width: 100%;
  font-weight: 400;
  line-height: 1.71;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .advantage__description {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .advantage__description {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1199px) {
  .experience__section {
    display: none;
  }
}
.experience__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-text-color);
}
.experience__list {
  margin-top: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}
.experience__item {
  position: relative;
  padding: 0;
  margin-right: 30px;
}
.experience__item:last-child {
  margin-right: 0;
}
.experience__img {
  display: block;
}
.experience__thumb {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 70px;
  background-color: var(--background-color-studio);
}
.experience__text {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin: 0;
  color: var(--third-text-color);
  width: 100%;
  height: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
}

.team__section {
  background-color: var(--secondary-background-color);
}
.team__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}
.team__list {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 320px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .team__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    margin-bottom: 0;
  }
}
.team__item {
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding: 0;
}
@media screen and (min-width: 480px) {
  .team__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 354px;
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 270px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .team__item:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team__item:nth-child(2n) {
    margin-right: 30px;
  }
}
@media screen and (max-width: 320px) {
  .team__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 320px) {
  .team__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team__item:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .team__item:nth-child(3) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .team__item:nth-child(4) {
    margin-bottom: 0;
  }
}
.team__img {
  display: block;
  width: 100%;
  height: auto;
}

.member {
  background-color: var(--primary-background-color);
  padding-top: 30px;
  padding-bottom: 24px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 1200px) {
  .member {
    padding: 30px 0;
  }
}
.member__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}
.member__prof {
  margin-bottom: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin-top: 16px;
  margin-left: 32px;
  margin-right: 32px;
}
@media screen and (min-width: 1200px) {
  .social__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--primary-background-color);
  border-radius: 50%;
  padding: 0;
  padding: 12px 12px;
  background-color: var(--primary-background-color);
  cursor: pointer;
  width: 44px;
  height: 44px;
  position: relative;
  -webkit-transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function), border 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function), border 250ms var(--timing-function);
}
.social__link:hover, .social__link:focus {
  border: 1px solid var(--accent-color);
  border-radius: 50%;
  background-color: var(--accent-color);
}
.social__icon {
  fill: var(--icon-primary-fill);
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.social__link:hover .social__icon, .social__link:focus .social__icon {
  fill: var(--third-text-color);
}

.company__section {
  background-color: var(--primary-background-color);
}
.company__title {
  font-weight: 700;
  font-size: 28px;
  color: var(--secondary-text-color);
  line-height: 1.17;
  line-height: 100%;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .company__title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
.company__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: -15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 1200px) {
  .company__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 320px) {
  .company__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 768px) {
  .company__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .company__item {
    margin: 0;
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .company__item:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .company__item:first-child {
    margin-left: 0px;
  }
}
.company__link {
  display: inline-block;
  height: 92px;
  margin-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--icon-primary-fill);
  border-radius: 4px;
  background-color: var(--primary-background-color);
  cursor: pointer;
  -webkit-transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function), border 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function), border 250ms var(--timing-function);
}
@media screen and (min-width: 1200px) {
  .company__link {
    width: 170px;
  }
}
.company__link:hover, .company__link:focus {
  border: 1px solid var(--accent-color);
}
.company__icon {
  fill: var(--icon-primary-fill);
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.company__link:hover .company__icon, .company__link:focus .company__icon {
  fill: var(--accent-color);
}

.footer {
  padding: 0;
  padding-bottom: 60px;
  padding-top: 60px;
  background-color: var(--third-background-color);
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: start;
  }
}
@media screen and (min-width: 768px) {
  .footer__tablet-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.footer-address {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-address {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .footer-address__item {
    margin-bottom: 9px;
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .footer-address__item:last-child {
    margin-bottom: 0;
  }
}
.footer-address__item {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer-address__item {
    margin-bottom: 9px;
  }
}
.footer-address__item:last-child {
  margin-bottom: 0;
}
.footer-address__address {
  line-height: 1.71;
  color: var(--third-text-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.footer-address__address:hover {
  color: var(--accent-color);
}
.footer-address__address:focus {
  color: var(--accent-color);
}
.footer-address__mail {
  font-weight: 400;
  line-height: 1.71;
  color: var(--fours-text-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.footer-address__mail:hover {
  color: var(--accent-color);
}
.footer-address__mail:focus {
  color: var(--accent-color);
}
.footer-address__tel {
  line-height: 1.71;
  color: var(--fours-text-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.footer-address__tel:hover {
  color: var(--accent-color);
}
.footer-address__tel:focus {
  color: var(--accent-color);
}

.social-network {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .social-network {
    padding-top: 0;
    padding-bottom: 0;
    text-align: start;
  }
}
@media screen and (min-width: 768px) {
  .social-network {
    margin: 0;
  }
}
.social-network__title {
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 20px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--third-text-color);
}
@media screen and (min-width: 1200px) {
  .social-network__title {
    margin-top: 12px;
  }
}
.social-network__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 1200px) {
  .social-network__list {
    margin-left: 0;
  }
}
.social-network__item {
  margin-right: 10px;
  margin-left: 5px;
  margin-right: 5px;
}
@media screen and (min-width: 1200px) {
  .social-network__item {
    margin-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .social-network__item:first-child {
    margin-left: 70px;
  }
}
@media screen and (min-width: 1200px) {
  .social-network__item:last-child {
    margin-right: 70px;
  }
}
.social-network__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--third-background-color);
  padding: 0;
  padding: 12px 12px;
  cursor: pointer;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  position: relative;
  background: var(--icon-background-color);
  -webkit-transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function), border 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function), border 250ms var(--timing-function);
}
.social-network__link:hover, .social-network__link:focus {
  border: 1px solid var(--accent-color);
  border-radius: 50%;
  background-color: var(--accent-color);
}
.social-network__icon {
  fill: var(--third-text-color);
}
.social-network__link:hover .social-network__icon, .social-network__link:focus .social-network__icon {
  fill: var(--third-text-color);
}

.mailsend {
  text-align: center;
}
.mailsend__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--third-text-color);
}
@media screen and (min-width: 1200px) {
  .mailsend__title {
    text-align: start;
    margin-top: 12px;
    margin-bottom: 20px;
    margin-right: 70px;
  }
}
@media screen and (min-width: 1200px) {
  .mailsend__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.mailsend__form input::-webkit-input-placeholder {
  color: var(--fours-text-color);
  font-family: "Roboto";
  font-style: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
.mailsend__form input::-moz-placeholder {
  color: var(--fours-text-color);
  font-family: "Roboto";
  font-style: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
.mailsend__form input:-ms-input-placeholder {
  color: var(--fours-text-color);
  font-family: "Roboto";
  font-style: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
.mailsend__form input::-ms-input-placeholder {
  color: var(--fours-text-color);
  font-family: "Roboto";
  font-style: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
.mailsend__form input::placeholder {
  color: var(--fours-text-color);
  font-family: "Roboto";
  font-style: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
.mailsend__form input {
  margin-bottom: 20px;
  min-width: 280px;
  min-height: 50px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  border: 1px solid var(--border-footer-color);
  background-color: var(--third-background-color);
  padding-left: 16px;
  line-height: 1.25;
  color: var(--fours-text-color);
  display: inline;
}
@media screen and (min-width: 480px) {
  .mailsend__form input {
    min-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .mailsend__form input {
    min-width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}
.mailsend__form label {
  color: rgb(117, 117, 117);
}

.button-send {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 0;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  font-family: "Roboto";
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
  margin: 0 auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  border: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.button-send__text {
  padding-right: 10px;
}
.button-send__icon {
  fill: var(--third-text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-background-color);
  opacity: 1;
  -webkit-transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop .is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

/* стили для модального окна */
.form-field__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
}
.form-field__input {
  width: 100%;
  padding: 12px 42px;
  height: 40px;
  background-color: var(--primary-background-color);
  border-radius: 4px;
  border: 1px solid var(--modal-border-color);
  cursor: pointer;
  font-family: inherit;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.form-field__input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}
.form-field__input ~ .icon {
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.form-field__input:focus ~ .icon {
  fill: var(--accent-color);
}
.form-field__inner {
  position: relative;
}
.form-field__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

/*  modal */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  max-height: 609px;
  background: var(--modal-backgroud-color-wind);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}
@media (min-width: 480px) {
  .modal {
    min-width: 450px;
    max-height: 609px;
  }
}
@media (min-width: 768px) {
  .modal {
    min-width: 528px;
    max-height: 581px;
  }
}
.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  cursor: pointer;
  background-color: var(--modal-backgroud-color-wind);
  border-radius: 50%;
  border: 1px solid var(--border-btn-close);
}
.modal__close-icon {
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.modal__close-button:hover .modal__close-icon {
  fill: var(--accent-color);
}
.modal__inner {
  padding: 40px;
}
.modal__title {
  color: var(--secondary-text-color);
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  padding-top: 0;
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}
.modal__form-field {
  margin-bottom: 10px;
}
.modal__button--send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-text__textarea {
  width: 100%;
  height: 120px;
  resize: none;
  border-radius: 4px;
  border: 1px solid var(--modal-border-color);
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 20px;
}
.form-text__textarea:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}
.form-text__label ::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  color: rgba(117, 117, 117, 0.5);
}
.form-text__label ::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  color: rgba(117, 117, 117, 0.5);
}
.form-text__label :-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  color: rgba(117, 117, 117, 0.5);
}
.form-text__label ::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  color: rgba(117, 117, 117, 0.5);
}
.form-text__label ::placeholder {
  font-size: 12px;
  line-height: 1.17;
  color: rgba(117, 117, 117, 0.5);
}
.form-text__label:focus {
  color: var(--secondary-text-color);
}

/* checkbox*/
.form-accept {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 30px;
}
.form-accept__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(117, 117, 117);
}
.form-accept__text {
  padding-left: 7px;
}
.form-accept__link {
  color: rgb(33, 150, 243);
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.form-accept__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.form-accept__icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 2px solid var(--secondary-border-color);
  width: 16px;
  height: 15px;
  border-radius: 2px;
}
.form-accept__checkbox:checked + .form-accept__icon {
  background-color: var(--accent-color);
  background-image: url("../images/icon-check-2.svg");
  background-origin: border-box;
  background-size: contain;
  border-color: var(--accent-color);
}

.button-send-modal {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 0;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  font-family: "Roboto";
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
  margin: 0 auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  border: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.control__radio {
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  list-style-type: none;
  color: var(--secondary-text-color);
}
@media (min-width: 768px) {
  .control__radio {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.control__radio-item {
  margin-right: 8px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .control__radio-item {
    margin-bottom: 0;
  }
}
.control :last-child {
  margin-right: 0;
}
.control__radio-button {
  padding: 6px 22px;
  border-radius: 4px;
  font-family: "Roboto";
  background-color: var(--secondary-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  border: none;
  -webkit-transition: fill 250ms var(--timing-function), color 250ms var(--timing-function), background-color 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function), color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.control__radio-button:hover, .control__radio-button:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--accent-color);
  color: var(--third-text-color);
  cursor: pointer;
}
.control__radio-button:focus {
  background-color: var(--accent-color);
  color: var(--third-text-color);
}

.gallery {
  padding-left: 0;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.gallery__item {
  border: 1px solid var(--border-btm-scnd-clr);
  list-style-type: none;
  max-width: 450px;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .gallery__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .gallery__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding: 0;
    margin-right: 30px;
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__item {
    -ms-flex-preferred-size: 33.3%;
        flex-basis: 33.3%;
    margin-right: 30px;
    max-width: 370px;
  }
}
.gallery__item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .gallery__item:nth-child(3n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .gallery__item:nth-child(2n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__item:nth-child(2n) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__item:nth-child(3n) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__item:nth-child(n+7) {
    margin-bottom: 0;
  }
}
.gallery__item:hover .gallery__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.gallery__link {
  text-decoration: none;
}
.gallery__img {
  display: block;
  width: 100%;
  height: auto;
}
.gallery__overlay {
  position: relative;
  overflow: hidden;
}
.gallery__text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 60px 24px;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
  background-color: var(--background-color-portfolio);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery__card {
  padding: 20px 24px;
  display: block;
  border-right: 1px solid var(--bbt-color);
  border-bottom: 1px solid var(--bbt-color);
  border-left: 1px solid var(--bbt-color);
}
.gallery__projects {
  margin-bottom: 4px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}
.gallery__description {
  margin: 0;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}/*# sourceMappingURL=main.css.map */