.gallery {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 0;

    &__item {
    border: 1px solid var(--border-btm-scnd-clr);
    list-style-type: none;
    width: 370px;
    margin-bottom: 30px;
    margin-right: 30px;

        &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}
        &:nth-child(3n) {
    margin-right: 0;
}
        &:nth-child(n + 7) {
    margin-bottom: 0;
}
        &:hover .gallery__text {
    transform: translateY(0);
}
}
    &__card {
    padding: 20px 24px;
    display: block;
}
    &__link {
    text-decoration: none;
}
    &__img {
    display: block;
    width: 100%;
    height: 100%;
}
    &__overlay {
    position: relative;
    overflow: hidden;
}
    &__text {
    position: absolute;
    top: 0;
    left: 0;
    padding: 63px 24px;
    width: 100%;
    height: 294px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--third-text-color);
    background-color: var(--background-color-portfolio);
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
    &__projects {
    margin-bottom: 4px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--secondary-text-color);
}

    &__description {
    margin: 0;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

}