:root {
--primary-background-color: #FFFFFF;
--secondary-background-color: #F5F4FA;
--third-background-color: #2F303A;
--primary-text-color: #757575;
--secondary-text-color: #212121;
--third-text-color: #ffffff;
--accent-color: #2196F3;
--fours-text-color: rgba(255, 255, 255, 0.6);
--border-botoom-color: #ECECEC;
--border-btm-scnd-clr: #EEEEEE;
--icon-primary-fill: #AFB1B8;
--icon-background-color: rgba(255, 255, 255, 0.1);
--background-color-portfolio: rgba(33, 150, 243, 0.9);
--background-color-studio: rgba(47, 48, 58, 0.8);
--modal-background-color: rgba(0, 0, 0, 0.2);
--modal-backgroud-color-wind: #ffffff;
--border-btn-close: rgba(0, 0, 0, 0.1);
--border-footer-color: rgba(255, 255, 255, 0.3);
--modal-border-color: rgba(33, 33, 33, 0.2);
--secondary-border-color: #212121;
--timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    background: var(--primary-background-color);
    color: var(--primary-text-color);
    font-family: 'Roboto';
    font-size: 14px;
    letter-spacing: 0.03em;
}
.container {
    max-width: 1200px;
    // margin: 0 auto;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;

    // @media (min-width: 480px) {
    //         min-width: 480px;
    //     }
    // @media (min-width: 768px) {
    //         min-width: 768px;
    //     }
    // @media (min-width: 1200px) {
    //         min-width: 1200px;
    //     }
}
section {
    padding-top: 60px;
    padding-bottom: 60px;

    @media (min-width: 1200px) {
            padding-top: 94px;
            padding-bottom: 94px;
        }
}
